In [1]:

def evaluate_mark(mark):
  if mark > 80:
    return "Distinction"
  elif mark >= 60 and mark <= 80:
    return "Pass"
  elif mark < 60 and mark >= 0:
    return "Fail"
  else:
    return "Invalid"

name=input("Enter your name:")
mark=int(input("Enter your mark:"))
result = evaluate_mark(mark)
print(result)  # Output: Pass

Enter your name:greesh
Enter your mark:80
Pass

In [8]:
def is_prime(n):

  if n <= 1:
    return False
  for i in range(2, n):
    if n % i == 0:
      return False
  return True


num = int(input("Enter a number: "))


if is_prime(num):
  print(num, "is a prime number")
else:
  print(num, "is not a prime number")

Enter a number: 5
5 is a prime number

In [24]:
n = int(input("Enter a number: "))

if n <= 1:
    print(n, "is not a prime number")
else:
    for i in range(2, n):
        if n % i == 0:
            print(n, "is not a prime number")
            break
    else:
        print(n, "is a prime number")

Enter a number: 7
7 is a prime number

In [19]:
s=int(input("Enter the statrting number:\n"))
e=int(input("Enter the ending number:\n"))
c=0
for num in range(s,e+1):
  for i in range(2,num):
    if(num%i==0):
      break
  else:
      print(num)
      c=c+1
print("Total prime numbers in given range=",c)

Enter the statrting number:
2
Enter the ending number:
10
2
3
5
7
Total prime numbers in given range= 4

STRONG NUMBER

In [11]:
sum=0
n=int(input("Enter a number:"))
temp=n
while(n !=0):
   i=1
   f=1
   r=n%10
   while(i<=r):
    f=f*i
    i=i+1
   sum=sum+f
   n=n//10
if(temp==sum):
   print("The number is a strong number")
else:
   print("The number is not a strong number")

Enter a number:145
The number is a strong number

ARMSTRONG NUMBER

In [ ]:
n=int(input("Enter a number:"))
sum=0
temp=n
while(n!=0):
  r=n%10
  sum=sum+(r**3)
  n=n//10
if(temp==sum):
  print(temp,"is an armstrong number")
else:
  print(temp,"is not an armstrong number")

HAPPY NUMBER

In [ ]:
n=int(input("Enter a number:"))
sq=n*n
temp=n
sum=0
while(sq!=0):
  r=sq%10
  sum=sum+(r**2)
  sq=sq//10
while(sum!=1):
  sq=sum*sum
if(sum==1):
  print(temp,"is a happy number")
else:
  print(temp,"is not a happy number")

Enter a number:9

NEON NUMBER

In [20]:
n=int(input("Enter a number:"))
sq=n*n

sum=0
while(sq!=0):
  r=sq%10
  sum=sum+r
  sq=sq//10
if(sum==n):
  print(n,"is a neon number")
else:
  print(n,"is not a neon number")

Enter a number:9
9 is a neon number

SPY  NUMBER

In [22]:
n=int(input("Enter a number:"))
sum=0
temp=n
product=1
while(n!=0):
  r=n%10
  sum=sum+r
  product=product*r
  n=n//10
if(sum==product):
  print(temp,"is a spy number")
else:
  print(temp,"is not a spy number")

Enter a number:1412
1412 is a spy number

PALINDROME NUMBER

In [2]:
n=int(input("Enter a number:"))
temp=n
rev=0
while(n!=0):
  r=n%10
  rev=rev*10+r
  n=n//10
if(temp==rev):
  print(temp,"is a palindrome number")
else:
  print(temp,"is not a palindrome number")

Enter a number:1
1 is a palindrome number

NEGATIVE TO POSITIVE

In [4]:
n=int(input("Enter a number:"))
if(n<0):
  n=n*-1
  print(n)
else:
  print(n)

Enter a number:-5
5

FIBONACCI SERIES

In [25]:
n=int(input("Enter a number:"))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
  c=a+b
  print(c)
  a=b
  b=c

Enter a number:6
0
1
1
2
3
5

FACTORIAL

In [9]:
n=int(input("Enter a number:"))
f=1
for i in range(1,n+1):
  f=f*i
print(f)

Enter a number:4
24

MULTIPLICATION TABLE

In [10]:
n=int(input("Enter a number:"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

LEAP YEAR

In [13]:
n=int(input("Enter a year:"))
if(n%400==0):
  print(n,"is a leap year")
else:
  print(n,"is not a leap year")

Enter a year:2018
2018 is not a leap year

HAPPY NUMBER_

In [15]:
def is_happy(n):
  sum=0
  while(n!=0):
    r=n%10
    sum=sum+r**2
    n=n//10
  return sum

n=int(input("Enter a number:"))
res=n
while(res !=1 and res !=4):
  res=is_happy(res)

if(res==1):
  print("happy number")
elif(res==4):
  print("not a happy number")

Enter a number:19
happy number